/*SOMMAIRE
-------------------------------------------------------
1. MISE EN PAGE GÉNÉRALE 
2. NOM + MÉTIER (HEADER)
3. PARTIE DROITE (SECTION)
4. PARTIE GAUCHE (ASIDE)
5. RESPONSIVE DESIGN
*/


/*1.MISE EN PAGE GÉNÉRALE
----------------------------------------------------*/

/* Couleurs*/
:root {
  --light-color: #FAFAFA;
  --dark-color: #424242;
  --one-color: #42A5F5; 
}

body
{
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    background-color: var(--light-color);
    color: var(--dark-color);
    margin:0;
}
#container
{
     display:flex;
     flex-direction: row-reverse;
     max-width:1130px;
     margin:auto;
}
footer
{
    text-align:center;
    padding:20px;
    font-size: 0.8em;
}

/* Les titres de la page */
.h1_desktop 
{
    font-size:3.5em;
    margin-top:110px;
    font-weight: 200;
}
h2
{
    font-size:1.5em;
    margin-top:-2rem;
    font-weight: 500;
}
h3
{
    font-size:1.8em;
    padding: 10px;
    border-bottom : 2px solid #42A5F5;
    font-weight:bold;
}
h4
{
    font-size:1.3em;
    margin-bottom: 1rem;
    font-weight: 600;
}
h5
{
    font-size:0.9em;
    margin-top:-20px;
    font-weight: 400;
}
h6
{
    font-size:1em;
    margin:auto;
    padding-top: 1.1rem;
    margin-bottom:-0.8em;
    font-weight: 300;
}
.h6_top_aside {
    padding-top:0;
}
a 
{
    color: #FAFAFA;
    text-decoration: none;
}

/*2.NOM + MÉTIER (HEADER)
----------------------------------------------------*/
.familyname {
    font-weight: 400;
    color: var(--one-color);
}
.h2_line
{
    border-color: var(--one-color);
    max-width: 8%;
    margin:0px;
    margin-top:-0.7rem;
    margin-bottom:90px;
}

/*3.PARTIE DE DROITE (SECTION)
----------------------------------------------------*/
.part_right
{
    flex:2;
    margin:0rem 2rem 0rem 2rem;
}
/* Mise en page des 3 grandes sous-parties */
.formation, .experience 
{
    display: flex;
    margin-top:30px;
}
.left_formation, .left_experience
{
    flex:1.5;
}
.right_formation, .right_experience
{
    flex:3;
    margin-left:0.6rem;
}
.skills_all_col
{
    display: flex;
    justify-content: space-between;
}
.icon_h3
{
    margin-right:1rem; 
    color: var(--color-color);
}

li
{
    margin-bottom:0.3rem;
    margin-left:-2.5rem;;
}
ul 
{
    list-style-type:none;
}

.skills_col_2_right {
    margin-right:7rem;
}

.skills_col_2_bold {
    font-weight: 500;
}

.skills_col_2_name {
    margin-bottom: 5px;
}
.date_icon_desktop {
    margin-right:0.5rem;
}

.left_date_desktop {
    display: flex;
    margin-top: 1.8rem;
    flex: 1.5;
}

.icon_date_desktop {
    margin-right:1rem;
    color:#42A5F5;
}

.icon_date_desktop_circle {
    margin-right:1rem;
    color:#42A5F5;
    font-size:0.6em;
    margin-top:0.2rem;
}
.icon_date_circle_mobile
{
    color:#42A5F5;
    font-size:0.6em;
    margin-top:0.2rem;
    margin-left:0.4rem;
}
.date_info_desktop
{
    margin-top:-0.8rem;
}
.date_desktop
{
    font-weight: 500;
    margin-top:0;
}


/*4.PARTIE GAUCHE (ASIDE)
----------------------------------------------------*/

aside
{
    flex:1;
    color: var(--light-color);
    background-color: var(--one-color);
}
.titre_aside
{
    text-align: center;
    padding: 0.7rem;
    margin-top:0;
    background-color: var(--dark-color);
}
.text_aside
{
    padding:0.1rem 2rem 1.4rem 2rem;
    text-align: justify;
}
.icons_aside
{
    width: 15px;
    margin-right:0.7rem;
}
.aside_loisir_icons
{
    display: flex;
    justify-content: space-around;
    font-size: 2.5em;
    margin-bottom:3rem;
    margin-top:1rem;
}
#photo_gauthier_desktop
{
    max-width:200px;
    border-radius: 180px;
    margin: auto;
    display: flex;
    box-shadow: 0px 5px 2px rgba(2,119,189 ,1); 
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}




/*5.RESPONSIVE DESIGN
----------------------------------------------------*/
/* Ordinateur et TV */
@media (min-width: 769px) 
{
     #photo_gauthier_mobile, #titre_competence_mobile, .date_mobile, .icon_date, #titre_competence_mobile, .titre_competence_mobile, .header_contact, .h1_mobile
    {
    display: none;
    }
}

/* Tablette */
@media screen and (max-width: 991px)
{
    body
    {
        margin-left:-1rem;
    }
    #container
    {
        width: auto;
        margin-top:-1.6rem;
    }
    .skills_all_col
    {
        display: flex;
        flex-direction: column;
    }
    .experience, .formation, .skills_all_col
    {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); 
        padding: 2rem;
        border-radius:10px;
    }
    .right_experience
    {
        margin-left:1rem;
    }
    .text_aside
    {
        padding-left:4rem;
    }
}

/* Téléphone */
@media screen and (max-width: 768px)
{
    /* Mise en page générale */
    #container
    {
        flex-direction: column;
    }  
    header
    {
        text-align: center; 
        width:auto;
        margin-top:-1.2rem;
        margin-left: -0.5rem;
        margin-right:-0.5rem;
        padding-top:2rem;
    }
    .titre_competence_mobile
    {
        margin-top:-2rem;
    }
    
    .h1_mobile {
        font-size:2.6em;
        margin-top:2rem;
    }
    
    /* Nom + Photo + métiers (header)*/
        #photo_gauthier_mobile
    {
        border-radius: 200px;
        margin: auto;
        margin-top: 2rem;
        display: flex;
    }
    .header_contact
    {
        color: var(--light-color);
        background-color: var(--one-color);
        padding-top:1rem;
        margin-right:-1.5rem;
        margin-left:-1.5rem;
    }
    .header_contact_details
    {
        display: flex;
        justify-content: space-around;
        padding-bottom:1.5rem;
    }
    
    /* Partie à droite (Section)*/
    .section_one, .section_two, .section_tree
    {
        margin:2rem:
    }
    
    .formation, .experience, .skills_all_col
    {
        display: flex;
        flex-direction: column;
    }
    .date_mobile
    {
        font-size: 0.9em;
        text-align: right;
        font-weight: 800;
    }
    .icon_date
    {
        width: 0.4rem;   
        margin-left:0.5rem;
    }
    .experience, .formation
    {
        box-shadow: none;
        padding: 0px;
    }
    .date_desktop, .date_info_desktop, .h2_line, #titre_competence_desktop, #photo_gauthier_desktop, .icon_date_desktop_circle, .icon_date_desktop, .aside_contact, .header_contact_title, .h1_desktop
    {
        display: none;
    }
    .right_formation, .right_experience, .skills_all_col
    {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19); 
        padding: 2rem;
        border-radius:10px;
    }
    /*Partie bas de page (aside)*/
    aside
    {
        flex:1;
    }
    .text_aside
    {
        padding: 1rem 4rem 3rem 4rem;
    }
}

